#imgDiv {
    padding: 10px;
    padding-bottom: 100px;
    /* height: 400px;
    width: 600px; */
    display: flex;
    flex-direction: column;
    font-size: 30px;
    transition-duration: 3s;
}

#NavDiv {
    padding-bottom: 10px;
}

img:hover {}


#all {
    border: solid 1px black;
    margin-bottom: 15px;
    background-color: antiquewhite;
}

body {}