#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbarLinks {
    background-color: red;
}

.pictureNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid black 2px;
}



.profile {
    padding-left: 300px;
}