* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    padding: 5px;
}


.profile-dropdown {
    position: relative;
}

.sub-menu-1>* {
    position: absolute;
    background: rgb(0, 100, 1);
    margin-top: 15px;
    margin-left: -15px;
    background: purple;
    border-bottom: 1pz dotted #fff;
    padding-bottom: 10px;

}

.sub-menu-1>*:hover {
    background-color: purple;
}



#usernameLI {
    padding: 10px;
}

#emailLi {
    padding: 10px;
}

#buttonLI {
    padding: 10px;
}