.loginBody {
    /* border: red solid 5px; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: -8.5vh;
    background: url('https://live.staticflickr.com/65535/51995149873_eacf06dbcd_h.jpg');
}

.form {
    display: block;
    text-align: center;
}

#logInForm {
    height: fit-content;
    width: 350px;
    border: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: white;
    border-radius: 3px;
}

.loginLogoDots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#title {
    font-size: 20px;
    font-weight: 500;
}

#username {
    height: 55px;
    width: 290px;
    border-radius: 3px;
    border: .1px solid grey;
    background: transparent;
    padding-left: 10px;
    margin-bottom: 10px;
}

#password {
    height: 55px;
    width: 290px;
    border-radius: 3px;
    border: .1px solid grey;
    background: transparent;
    padding-left: 10px;
    margin-bottom: 30px;

}

#loginBtn {
    height: 40px;
    width: 290px;
    border-radius: 3px;
    border: .1px solid grey;
    background: #128Fdc;
    padding-left: 10px;
    font-weight: 600;
    color: white;
    font-size: 15px;
}

.oRSpan {
    margin: 5px 0;
}

.redirectsignin {
    /* border: red solid 1px; */
    font-size: 14px;
    height: 50px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: .1px solid rgba(128, 128, 128, 0.368);
    margin-left: 20px;
}

.linkmember {
    margin-left: 5px;
    color: #006dac;
    cursor: pointer;
}


#demoUserBtn {
    height: 40px;
    width: 290px;
    border-radius: 3px;
    border: .1px solid grey;
    background: #128Fdc;
    padding-left: 10px;
    font-weight: 600;
    color: white;
    font-size: 15px;
}

.eachError {
    background-color: rgba(255, 0, 0, 0.751);
    color: white;
    padding: 2.5px 5px;
}