* {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.SplashBody {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* border: red solid 10px; */
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: -8.5vh;

}

.OverlayText {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35%;
    left: 33%;
}

.HeaderQuote {
    font-size: 56px;
    font-weight: 600;
    line-height: 56px;
    color: white;
    text-align: center;
    margin-left: -460px;
    margin-bottom: 35px;
    /* border: burlywood solid 1px; */
}

.introduceSnipstr {
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 50px;
    margin-left: -70px;
    width: 67%;
    min-width: 57%;
    /* border: red solid 1px; */
}

.splashBeginBtn {
    height: 35px;
    width: fit-content;
    font-size: 24px;
    font-weight: 800;
    height: 64px;
    line-height: 64px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px 0 20px;
    margin-left: 150px;
}

.devLinksTitle {
    font-size: 14px;
    color: hsla(0, 0%, 100%, .6);
    margin-left: 3%;
}

.splashFooter {
    position: absolute;
    width: 100%;
    height: 7vh;
    background-color: black;
    bottom: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.linkIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.linkImg {
    height: 45px;
    border-radius: 50%;
    margin-top: -4px;
}

.gitImg {
    height: 35px;
    border-radius: 50%;
}

.alinkImg {
    height: 40px;
    margin-left: 3%;
    cursor: pointer;
}